/* All */
.publicProfile-main {
  display: block;
  flex-wrap: wrap;
  padding: 5px;
  position: relative;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.publicProfile-main::-webkit-scrollbar {
  display: none;
}
.publicProfile-main > .container-fluid {
  padding-bottom: 1rem;
}

.row2-outer-div-pp {
  position: relative;
  max-height: 75vh;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #393e46;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.row2-outer-div-pp h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.row2-innerdiv-pp {
  display: inline-block;
  position: relative;
  max-height: 60vh;
  height: inherit;
  min-width: 100%;
  margin: auto;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 2px solid #222831;
  border-right: 2px solid #222831;
}
.row2-innerdiv-pp::-webkit-scrollbar {
  display: none;
}

.row2-innerdiv-pp > .inner-map-centered-cards {
  width: 90%;
  margin-bottom: 1vh;
}
.row2-innerdiv-pp > .UsersCards-outer-div > .inner-map-centered-cards {
  width: 90%;
  margin-bottom: 1vh;
}
.row2-innerdiv-pp div {
  margin: auto;
}

/* image */
.img-container {
  display: flex;
  align-items: center;
  justify-items: center;
}
.profile-image {
  height: 8rem;
  width: auto;
  margin: 0 0 0 0;
  box-shadow: 8px 8px 8px #29292b, -10px 10px 15px #1b1c1f;
}

/* Top middle */
.profile-user-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.profile-user-info-container {
  margin-top: 1rem;
  margin-bottom: -2rem;
}
.profile-user-info-container > .col > .row {
  height: 2rem;
  align-items: end;
  justify-content: center;
}

/* Top right */
.button-p-col {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.button-p-col p {
  margin: auto;
  padding: 0.25rem 0;
  border-top: 1px solid #b55400;
  border-bottom: 1px solid #b55400;
}
.button-p-col p svg {
  color: #28a745;
}
.button-p-col button {
  margin: 0;
}
