.top-heading {
  text-align: center;
}
.editButton-col-td {
  height: initial;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 0;
}
.editButton-col-td button {
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
.boards-outerdiv-td {
  position: relative;
  max-height: 75vh;
  top: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #393e46;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
.boards-outerdiv-td h2 {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.boards-outerdiv-td h4 {
  padding-left: 1.5rem;
  text-align: start;
}

.boards-innerdiv-td3 {
  max-height: 60vh;
  height: inherit;
  width: inherit;
  margin: auto;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-left: 2px solid #222831;
  border-right: 2px solid #222831;
}
.boards-innerdiv-td3::-webkit-scrollbar {
  display: none;
}

.boards-innerdiv-td3 > .inner-map-topicCards {
  padding: auto;
  margin: auto;
  width: 90%;
}

.boards-innerdiv-td3 > .UsersCards-outer-div {
  padding: auto;
  margin: auto;
  max-width: 90%;
}
.boards-innerdiv-td3 > .UsersCards-outer-div > .inner-map-centered-cards {
  margin: auto auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.removeBoard-outerCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeBoard-outerCol button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
}
